html {
    background-color: gold
}

body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24pt
}

* {
    box-sizing: border-box;
    text-align: center;
}

ul,
ol {
    list-style-position: inside;
    padding-left: 0;
}

img {
    height: 500px;
    width: 500px;
    border: 10px solid black;
}

.column {
display: inline-block;
margin: 10px;
border:10px solid rgb(0, 0, 0);
padding: 20px;
background-color: rgb(255, 255, 255);
height: 550px;
width: 550px;

}

.container {
text-align: center;
    }

.recipes-list {
font-weight: bold;
}